<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.yexing.android.sharepath">


	<application android:icon="@drawable/icon"
		android:theme="@android:style/Theme.Dark">

		<receiver android:name="BootCompletedReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name="GTalkDataMessageReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.SHAREPATH_MESSAGE" />
			</intent-filter>
		</receiver>

		<service android:name="SharePathService" />

		<provider android:name="SharePathProvider"
			android:authorities="org.yexing.android.sharepath.domain.SharePath" />

		<activity android:name="Main"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="SharePathMap" android:label="@string/app_name" />
		<activity android:name="Request" android:label="@string/request"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name="Inbox" android:label="@string/inbox">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
		</activity>
		<activity android:name="MyMaps" android:label="@string/mymaps" />
		<activity android:name="Buddy" android:label="@string/buddy" />
		<activity android:name="ChooseBuddy" android:label="@string/buddy"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name="EditBuddy" android:label="@string/buddy"
			android:theme="@android:style/Theme.Dialog" />

	</application>
	<uses-permission android:name="android.permission.READ_CONTACTS">
	</uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ASSISTED_GPS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_LOCATION">
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ADD_SYSTEM_SERVICE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW">
	</uses-permission>
	<uses-permission
		android:name="com.google.android.xmppService.permission.XMPP_SERVICE" />
    <uses-permission android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
</manifest>
