<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yexing.android.sharepath">

    <uses-permission id="android.permission.READ_CONTACTS" />
    <uses-permission id="android.permission.WRITE_CONTACTS" />
    <uses-permission id="com.google.android.xmppService.permission.XMPP_SERVICE" />
    <uses-permission id="android.permission.RUN_INSTRUMENTATION" />

    <application android:icon="@drawable/icon" android:theme="@android:style/Theme.Dark">
		<receiver class="BootCompletedReceiver" android:label="@string/app_name"> 
		    <intent-filter> 
		            <action android:value="android.intent.action.BOOT_COMPLETED" /> 
		    </intent-filter> 
		</receiver> 
        <service class="SharePathService" />
        <provider class="SharePathProvider"
                android:authorities="org.yexing.android.sharepath.domain.SharePath" />
        <activity class="SharePath" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity class="Request" android:label="@string/request"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Record" android:label="@string/record"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Inbox" android:label="@string/inbox"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Outbox" android:label="@string/outbox"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Sent" android:label="@string/sent"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Draft" android:label="@string/draft"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class="Buddy" android:label="@string/buddy"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest> 