<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.yexing.android.sharepath">


	<application android:icon="@drawable/icon"
		android:theme="@android:style/Theme.Dark">
		<receiver android:name="BootCompletedReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name="SharePathService" />
		<provider android:name="SharePathProvider"
			android:authorities="org.yexing.android.sharepath.domain.SharePath" />
		<activity android:name="SharePath" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="Request" android:label="@string/request"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Record" android:label="@string/record"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Inbox" android:label="@string/inbox"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Outbox" android:label="@string/outbox"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Sent" android:label="@string/sent"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Draft" android:label="@string/draft"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="Buddy" android:label="@string/buddy"
			android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:name="ChooseBuddy" android:label="@string/buddy"
			android:theme="@android:style/Theme.Dialog" />

	</application>
	<uses-permission android:name="android.permission.READ_CONTACTS">
	</uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ASSISTED_GPS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_LOCATION">
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ADD_SYSTEM_SERVICE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW">
	</uses-permission>
	<uses-permission
		android:name="com.google.android.xmppService.permission.XMPP_SERVICE" />
</manifest>
